* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #393e46;
  background-image: url("https://source.unsplash.com/1600x900/?weather");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h3 {
  font-size: 1.25rem;
}

.content {
  padding: 0 calc(50% - 540px);
}

.card {
  padding: 2.5rem;
  margin: 1rem;
  background-color: #dfdfdfd0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  display: flex;
  justify-content: space-between;
  background-color: #ffffffd0;
  border: none;
  min-width: 75%;
  border-radius: 4px;
}

.search-bar {
  flex-grow: 2;
  padding: 0 20px;
  padding-right: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

.search-bar::placeholder {
  color: #8a8a8a;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-container button {
  font-size: 18px;
  padding: 10px 12px;
}

.find-me-btn {
  border: none;
  background-color: transparent;
  color: #393e46d0;
  transition: 0.1s all linear;
}

.find-me-btn:hover {
  cursor: pointer;
  color: #f8b500d0;
}

.find-me-btn:active {
  color: #ebac00d0;
}

.search-btn {
  border: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #393e46d0;
  color: #ffffffd0;
  transition: 0.1s all linear;
}

.search-btn:hover{
  cursor: pointer;
  background-color: #f8b500d0;
  color: #393e46d0;
}

.search-btn:active {
  background-color: #ebac00d0;
}

button i {
  width: 1.5rem;
}

.weather {
  margin-top: 1.5rem;
}

.weather.hidden {
  display: none;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.temp {
  margin: 1rem 0;
  margin-bottom: 0.75rem;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.icon {
  margin: -10px;
}

.fa-spinner {
  color: #f8b500d0;
  -webkit-animation: rotate-center 1s ease-out infinite both;
	        animation: rotate-center 1s ease-out infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
